{% extends "base.html.twig" %}

{% block body %}
    <table style="width:100%; border: 1px solid black;">
        <tr style="border: 1px solid black;">
            <th style="border: 1px solid black;">Id</th>
            <th style="border: 1px solid black;">Title</th>
            <th style="border: 1px solid black;">Notes</th>
        </tr>
    {% for serie in series %}
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">{{ serie.id }}</td>
            <td style="border: 1px solid black;">{{ serie.title }}</td>
            <td style="border: 1px solid black;">{{ serie.notes }}</td>
        </tr>
    {% else %}
        <tr style="border: 1px solid black;">
            <td>No series have been found.</td>
        </tr>
    {% endfor %}
{% endblock %}
